*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-primary: #1a73e8;
    --bs-accent: #fe8e00;
    --bs-black: #000000;
    --bs-dark: #051e34;
    --bs-white: #FFFFFF;
    --bs-light: #e5e5e5;
}


.ms_bg_light {
    background-color: var(--bs-light);
}


.ms_bg_dark {
    background-color: var(--bs-dark);
}


.site_top {
    height: 70px;
}

.site_bottom {
    height: calc(100vh - 70px);
}

.sidebar {
    width: 70px;
    height: 100vh;
    background-image: url(../img/sidebar-bg.png);
}


.site_main {
    width: calc(100vw - 70px);
    overflow-y: auto;
}


.banner .badge:hover {
    transition: background-color 0.3s;
    background-color: var(--bs-dark);
}

.navbar .nav-item:hover {
    transition: background-color 0.3s;
    background-color: #e5e5e586;
}

.banner span.badge {
    background-color: #051e3459;
}

  


main .table img {
    width: 30px;
    aspect-ratio: 1 /1;
    border-radius: 50%;
}

.ms_w-100 {
    width: calc(100% -70px);
}

.ms_w-lg-50 {
    width: 100%;
}

.navbar-brand-lg {
    display: none;
}

.section_sidebar a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--sptf-dark-soft);
    display: flex;
    align-items: center;
    
}


.fa-bell {
    padding: 0.25rem;
}

.ms-bg-blue {
    background-color: #051e3428;
}








/* media queries */

@media screen and (min-width: 575px) {}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 991px) {

    .navbar-brand {
        display: none;
    }

    .navbar-brand-lg {
        display: flex;
    }

    .site_bottom > .sidebar {
        width: 150px;
    }

    main {
        width: calc(100vw - 150px);
    }

    .ms_w-lg-50 {
        width: 50%;
    }
   
   
}

@media screen and (min-width: 1999px) {
    
}

@media screen and (min-width: 1399px) {}