*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-primary: #1a73e8;
    --bs-accent: #fe8e00;
    --bs-black: #000000;
    --bs-dark: #051e34;
    --bs-white: #FFFFFF;
    --bs-light: #e5e5e5;
}


.navbar-brand-lg {
    display: none;
}

.fa-bell {
    padding: 0.25rem;
}

.container-fluid{
    max-width: 60px;
}



















/* media queries */

@media screen and (min-width: 575px) {}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 991px) {

    .navbar-brand {
        display: none;
    }

    .navbar-brand-lg {
        display: flex;
    }

    .container-fluid {
        max-width: 150px;
    }
}

@media screen and (min-width: 1999px) {}

@media screen and (min-width: 1399px) {}